global
    log 127.0.0.1 local2
    chroot /var/lib/haproxy
    pidfile /var/run/haproxy.pid
    maxconn 4000
    user haproxy
    group haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

# API SERVER
frontend api
    bind *:6443
    default_backend api_backend

backend api_backend
    balance source
    mode tcp
    option tcp-check
{% if ocp_bootstrap_active | default(true) | bool %}
    server {{ bootstrap_node.name }}.{{ cluster_name }}.{{ base_domain }} {{ bootstrap_node.name }}.{{ cluster_name }}.{{ base_domain }}:6443 check
{% endif %}
{% for node in master_nodes %}
    server {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }}:6443 check
{% endfor %}

# MACHINE CONFIG
frontend mcs
    bind *:22623
    default_backend mcs_backend

backend mcs_backend
    balance source
    mode tcp
{% if ocp_bootstrap_active | default(true) | bool %}
    server {{ bootstrap_node.name }}.{{ cluster_name }}.{{ base_domain }} {{ bootstrap_node.name }}.{{ cluster_name }}.{{ base_domain }}:22623 check
{% endif %}
{% for node in master_nodes %}
    server {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }}:22623 check
{% endfor %}

# INGRESS HTTPS
frontend ingress_https
    bind *:443
    default_backend ingress_https_backend

backend ingress_https_backend
    balance source
    mode tcp
{% for node in router_nodes | default(worker_nodes) %}
    server {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }}:443 check
{% endfor %}

# INGRESS HTTP
frontend ingress_http
    bind *:80
    default_backend ingress_http_backend

backend ingress_http_backend
    balance source
    mode tcp
{% for node in router_nodes | default(worker_nodes) %}
    server {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }}:80 check
{% endfor %}
