127.0.0.1 localhost

# ========================
# Bastion
# ========================
{% for host in groups['bastion_hosts'] %}
{{ hostvars[host].ansible_host }} {{ host }}.{{ cluster_name }}.{{ base_domain }} {{ host }}
{% endfor %}

# ========================
# Bootstrap
# ========================
{{ bootstrap_node.ip }} {{ bootstrap_node.name }}.{{ cluster_name }}.{{ base_domain }} {{ bootstrap_node.name }}

# ========================
# Masters
# ========================
{% for node in master_nodes %}
{{ node.ip }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}
{% endfor %}

# ========================
# Workers
# ========================
{% for node in worker_nodes %}
{{ node.ip }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}
{% endfor %}

# ========================
# Routers (optional)
# ========================
{% for node in router_nodes | default(worker_nodes) %}
{{ node.ip }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}
{% endfor %}

# ========================
# Monitoring (optional)
# ========================
{% if monitoring_nodes is defined and (monitoring_nodes | length > 0) %}
{% for node in monitoring_nodes %}
{{ node.ip }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}
{% endfor %}
{% endif %}

# ========================
# Storages (optional)
# ========================
{% if storage_nodes is defined and (storage_nodes | length > 0) %}
{% for node in storage_nodes %}
{{ node.ip }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}
{% endfor %}
{% endif %}

# ========================
# Logs (optional)
# ========================
{% if logging_nodes is defined and (logging_nodes | length > 0) %}
{% for node in logging_nodes %}
{{ node.ip }} {{ node.name }}.{{ cluster_name }}.{{ base_domain }} {{ node.name }}
{% endfor %}
{% endif %}

# ========================
# OCP VIP 
# ========================

# API
{{ api_vip }} api.{{ cluster_name }}.{{ base_domain }}
{{ api_vip }} api-int.{{ cluster_name }}.{{ base_domain }}

# APPS 
{{ ingress_vip }} apps.{{ cluster_name }}.{{ base_domain }}
